<div ng-controller="subpagesEditController">
<p>Edit Project</p>
<form action="form">
	<label for="name" >Name</label>
	<input type="text" ng-model="subpages.model">
	{{project.names}}

	<label for="desc" >Description</label>
	<textarea name="" id="" cols="30" rows="10" ng-model="project.desc"></textarea>
	<button class="button">Save</button>
	<button class="button alert">Cancel</button>
</form>
</div>

