<div ng-controller="ProductionEditController">
	<h4>{{ section }}</h4>
		<div>{{ name }}<br />
		<div class="row">
				<div class="small-4 large-8 columns">
					<label for="right-label" class="left" >Title:</label>
					<input type="text" id="right-label" placeholder="Inline Text Input" value="">
					<label for="author">Author:</label>
					<input type="text" id="author" placeholder="Author" />
					<label for="start-date">Start Date: </label>
					<input type="text" id="start-date" name="start-date" placeholder="Pick a start date" / >
					<label for="end-date">End Date: </label>
					<input type="text" id="end-date" name="end-date" placeholder="Pick a end date" />
					<label for="director">Director:</label>
					<input type="text" name="director" placeholder="Quin Gresham" />
					<label for="snippet">Snippet</label>
					<textarea name="snippet" id="snippet" cols="30" rows="10" placeholder="Add a Snippet"></textarea>
					<label for="description">Description:</label>
					<textarea name="description" id="description" cols="30" rows="10" placeholder="Add a Description"></textarea>
					<label for="img">upload images</label>
					<input type="file" file-model="myFile">

				</div>
			</div>
					<button class="button radius success" ng-click="save()">Save</button>
					<button class="button radius alert" ng-click="delete()">Cancel</button>
		</div>

	</div>
	