<div ng-controller="Ctrl">
	<h4>{{ section }}</h4>
		<div>{{ name }}<br />
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{project.name}}</td>
				<td>{{project.desc}}</td>
				<td><a href="#/edit/{{project.id}}" class="button">
				edit</a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>