<div ng-controller="pagesController">
	<h4>{{ section }}</h4>
		<div>{{ name }}<br />

		<button class="radius" ng-click="addRow()">add new</button>
	</div>
	<div class="row">
	<table width="100%">
	  <thead>
	    <tr>
	      <th >Some Header</th>
	      <th >Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="rowContent in rows">
	      <td>{{ rowContent || 'empty '}}</td><td><a href="#/edit/{{counter}}" class="button radius">Edit</a></td>
	    </tr>
	  </tbody>
	</table>    
	</div>
</div>
